
Results/.Rhistory
R/.Rhistory
apa-no-doi-no-issue.csl
*.fff
*.ttt
Results/ (MeSoS's conflicted copy 2018-12-07).Rhistory
Draft/(2) CR/~$draft2.docx
*.db
Draft/(2) CR/~$ when-does-garbage-stink working.docx
